<!DOCTYPE html>
<html lang='pt-br'>
<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>Sicherheit</title>
    <link rel='stylesheet' href='main.css'>
    
</head>
<body class="container">

    
<nav id="menu">
    <div class="dropdown">
    <button type="button" class="botao-menu">Serviços
        <span class="seta">&#9662;</span>
    </button>

    <div class="dropdown-conteudo">
        <a href="main">Analise de Softwares<br><span>
            Ver o serviço de Analise de software
        </span></a>
        <a href="judge">Testador de codigo<br><span>
            testar o Judge
        </span></a>
    </div>
  </div>
  <div class="dropdown">
    <button type="button" class="botao-menu">
        Sobre<span class="seta">&#9662;</span>
    </button>

    <div class="dropdown-conteudo">
        <a href="https://www.virustotal.com/gui/my-apikey" target="_blank">A API que o site usa</a>
        <a href="sobreantivirus">Serviço de Analise de Software</a>
    </div>
  </div>
    <a href="login">Login</a>
</nav>


<header id="slogan">

    <span>
    <h1><b>Sicherheit</h1>
        <h3>Juris et de jure</h3>
    </span>

</header>

<main class="main-seila">
    <h2>
<p>
    Os sites de hoje em dia sao alvos de cyberattacks porcausa da negligencia 
    do ensinamento basico da programação. Devido a isso nosso site ajuda aqueles
    que querem explorar o mundo dos arquivos disponibilizando Ferramentas
    e dicas de analise de softwares.
    </p>
    </h2>

    <form action="cadastro">
        <button type="submit" id="btncadastrar">Cadastrar-se</button>
    </form>


</main>

    </section>
<footer id="contato">
<p>Site criado por Vithor Samuel Buxwaray Martinez Vale</p>
<p>Contato: estaodiolhoemnoisdasilva@gmail.com</p>
<p>&copy; 2026 Sicherheit. Todos os direitos reservados</p>
</footer>


<script src="dropdown.js"></script>
</body>
</body>
</html>