<!DOCTYPE html>
<html lang='pt-br'>
<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>Page Title</title>
    <link rel='stylesheet' href='main.css'>
    
</head>
<body class="container">

    
<nav id="menu">
    <div class="dropdown">
    <button type="button" class="botao-menu">Serviços
        <span class="seta">&#9662;</span>
    </button>

    <div class="dropdown-conteudo">
        <a>Analise de Softwares<br><span>
            Ver o serviço de Analise de software
        </span></a>
        <a>Testador de codigo<br><span>
            testar o Judge
        </span></a>
    </div>
  </div>
  <div class="dropdown">
    <button type="button" class="botao-menu">
        Sobre<span class="seta">&#9662;</span>
    </button>

    <div class="dropdown-conteudo">
        <a>O objetivo do site</a>
        <a>A API que o site usa</a>
        <a>Serviço de Analise de Software</a>
        <a>Testador de codigo</a>
    </div>
  </div>
    <a href="contato.html">Contato</a>
    <!--
<a href="index.html">Início</a>
<a href="servicos.html">Serviços</a>
<a href="sobre.html">Sobre</a>
    -->
</nav>


<header id="slogan">

    <span>
    <h1><b>Sicherheit</h1>
        <h3>Juris et de jure</h3>
    </span>

</header>

<main class="main-seila">
    <h2>
<p>
    Os sites de hoje em dia sao alvos de cyberattacks porcausa da negligencia 
    do ensinamento basico da programação. Devido a isso nosso site ajuda aqueles
    que querem explorar o mundo dos arquivos disponibilizando Ferramentas
    e dicas de analise de softwares.
    </p>
    </h2>

    <form action="cadastro.html">
        <button type="submit" id="btncadastrar">Cadastrar-se</button>
    </form>

<aside>

<!-- <nav>
    <section>menu</section><br>
<a href="dicas.html">Dicas</a>
<a href="noticias.html">notícias</a>
<a href="promocoes.html">promoções</a>
</nav> -->
</aside> 
</main>

    </section>
<footer id="contato">
<p>Site criado por Vithor Samuel Buxwaray Martinez Vale</p>
<p>Contato: estaodiolhoemnoisdasilva@gmail.com</p>
<p>&copy; 2026 TechConnect. Todos os direitos reservados</p>
</footer>
<a href="https://www.youtube.com/watch?v=GBIIQ0kP15E">
    <!-- <button>ME CLICA</button> -->
</a>

<script src="dropdown.js"></script>
</body>
</body>
</html>